# Virtual environment
venv/
ENV/
env/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# Pytest / coverage / logs
.pytest_cache/
.coverage
coverage.xml
*.log

# VS Code settings
.vscode/

# macOS / Windows files
.DS_Store
Thumbs.db

# Node.js / npm
node_modules/

# User profile photos (uploads)
app/static/profile_pics/*

# Items folders
app/static/items/*
app/static/images/items/*node_modules/
