<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <h1>Dashboard</h1>
        <div class="main">
            <h2>Roles <span class="bi bi-table"></span></h2>
            <table class="table table--striped table--hover table--bordered">
                <thead class="table__head">
                    <tr class="table__row">
                        <th class="table__header">ID</th>
                        <th class="table__header">Role name</th>
                        <th class="table__header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr class="table__row">
                            <td class="table__cell">{{ role.id }}</td>
                            <td class="table__cell">{{ role.name | title }}</td>
                            <td class="table__cell">
                                <button class="button button--md">Edit</button>
                                <button class="button button--md">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Users</h2>
            <table class="table table--striped table--hover table--bordered">
                <thead class="table__head">
                    <tr class="table__row">
                        <th class="table__header">Username</th>
                        <th class="table__header">Email</th>
                        <th class="table__header">Roles</th>
                        <th class="table__header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="table__row">
                            <td class="table__cell">
                                <div class="profile__user">
                                    <div class="profile__picture profile__picture--medium">
                                        <img src="{{ url_for('static', filename=user.avatar_url) }}">
                                    </div>
                                    <span class="profile-page__username--table">{{ user.username }}</span>
                                </div>
                            </td>
                            <td class="table__cell">{{ user.email }}</td>
                            <td class="table__cell">{{ user.roles | map(attribute='name') | join(', ') | title }}</td>
                            <td class="table__cell">
                                <button class="button button--md">Edit</button>
                                <button class="button button--md">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
</body>
</html>