{% extends "base.html" %}
{% block content %}
    <h1>Categories</h1>
    {% if can_create %}
        <a class="button button--primary button--md" href="/categories/create">
            <span class="button__icon">
                <i class="bi bi-plus"></i>
            </span>
            Create
        </a>
    {% endif %}
    <div class="categories">
        {% for category in categories %}
            <div class="category-card" onclick="location.href='/categories/{{ category.id }}'">
                <h3 class="category-card__title">{{ category.title }}</h3>
                <p class="category-card__description">{{ category.short_description }}</p>
                    
                <div class="category-card__badge">
                    {% if category.is_testing %}
                        <span class="icon icon--static bi-bug-fill"></span>
                    {% endif %}
                    {% if category.is_private %}
                        <span class="icon icon--static bi-lock-fill"></span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
