<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <h1>Categories</h1>
        <div class="categories">
            <div class="category-card">
                <h3 class="category-card__title">3D models</h3>
                <p class="category-card__description">Modern 3d models, illustrations and stuff.</p>
            </div>
            <div class="category-card">
                <h3 class="category-card__title">3D animations</h3>
                <p class="category-card__description">Modern 3d animations.</p>
            </div>
            <div class="category-card">
                <h3 class="category-card__title">Textures</h3>
                <p class="category-card__description">Tons of textures.</p>
            </div>
            <div class="category-card">
                <h3 class="category-card__title">Yandex Lyceum Project Defense — 2025</h3>
                <p class="category-card__description">Stuff for the presentation.</p>
            </div>
        </div>
    {% endblock %}
</body>
</html>